@import "../../styles/colors";

$card-padding-h: 10px;
$card-padding-v: 8px;
$card-padding-right-small: $card-padding-h / 4;
$card-height: 2.5em;
$text-horizontal-margin: (($card-height - 1em) / 2);
$legend-font-size: 0.7em;

.cards-group {
  overflow: auto;

  &.cards-group--fourth-color li.card {
    border-left-color: $fourth-color;
  }

  .cards-group__legend {
    float: right;

    padding-right: $card-padding-h;

    @media screen and (max-width: 390px) {
      padding-right: $card-padding-right-small;
    }

    margin-bottom: 2px;

    color: $gray-dark;
    text-align: center;

    span.cards-group__legend__label {
      font-size: $legend-font-size;

      @media screen and (max-width: 390px) {
        font-size: $legend-font-size - 0.05;
      }

      &:first-letter {
        text-transform: capitalize;
      }

    }

    & + .cards-group__list {
      margin-top: $legend-font-size + 0.6;
    }

    span.cards-group__legend__label__asc {
      vertical-align: bottom;
    }

    span.cards-group__legend__label__desc {
      vertical-align: top;
    }
  }

  div.cards-group__list {
    padding: 0;
  }
}

div.card {
  $left-border-width: 2px;
  $hover-anim-time: 0.1s;

  height: $card-height;
  width: auto;

  padding: $card-padding-v $card-padding-h;
  margin-bottom: 6px;

  @media screen and (max-width: 330px) {
    padding-right: $card-padding-right-small;
  }

  background-color: white;
  border-left: $left-border-width solid $fifth-color  ;

  -webkit-transition: border-left-width $hover-anim-time;
  transition: border-left-width $hover-anim-time;

  box-shadow: 1px 1px 5px $gray-light;

  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;

  .card__content--left {
    flex:1;
    min-width:1px;
  }

  .card__content {
    line-height: $card-height;
  }

  &.clickable {
    border-left: $left-border-width solid $third-color;

    &:hover {
      border-left-width: 2*$left-border-width;
    }
  }
}