@import "~normalize.css";
@import "_colors.scss";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $background-color;

  @media screen and (max-width: 480px) {
    font-size:80%;
  }

  h1, h2 {
    color: $gray-dark;
  }
}

.table {
  display: table;
  table-layout: fixed;

  .table__cell {
    display: table-cell;
  }
}

.clickable {
  cursor: pointer;
}

a:hover {
  color: $gray-dark;
  transition: color 0.4s;
}

a, a:active{
  text-decoration: none;
  color: $link-color;

  transition: color 0.4s;
}

.float-left {
  float: left;
}

.vertical-middle {
  vertical-align: middle;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-right {
  text-align: right;
}

.mobile-center {
  @media screen and (max-width: 680px) {
    text-align: center;
  }
}

.page-title {
  margin-top: 1.6em;
}

.initial-width {
  width:initial;
}

.truncated {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display:block;
}