$size: 100px;
$small-size: 2.5em;

.avatar {
  height: $size;
  width: $size;

  border: white solid 1px;
  border-radius:50%;
  overflow: hidden;

  &.avatar--small {
    height: $small-size;
    width: $small-size;

    border: none;
  }

  img {
    width: 100%;
    height: 100%;
  }
}