@keyframes spinner-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  text-align: center;
  font-size: 3em;

  &.spinner--big {
    font-size: 5em;
  }

  &.spinner--small {
    font-size: 1em;
  }

  .spinner__image {
    animation-name: spinner-rotation;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}