@import "../../styles/colors";

$image-height: 130px;
$card-width: 280px;
$top-height: 90px;
$border-radius: 6px;

.profile-card {
  background-color: white;
  border-radius: $border-radius;
  box-shadow: 1px 1px 5px $gray;
  width:$card-width;
  margin-right: 20px;
  margin-top: 3em;
  float: left;

  position:relative;

  @media screen and (max-width: 680px) {
    float: none;
    margin: 0 auto auto;
  }

  .profile-card__top {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    height:$top-height;
    background-color: $fourth-color;

    margin-bottom: ($image-height/2)+10px;
  }

  .profile-card__avatar-container {
    height: $image-height;
    width:$image-height;
    border: white solid 3px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

    box-shadow: 0 0 5px $gray;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: $top-height - $image-height/2;
  }

  .profile-card__avatar {
    width:100%;
    height:100%;
  }

  .profile-card__info {
    height: 100%;
    padding: 0px 10px;

    .profile-card__section {
      display:block;
      text-align: center;

      &.section--last {
        margin: 25px 0;
      }
    }

    .profile-card__login {
      font-size: 1.6em;
      h2 {
        margin: 0;
        font-size: 1em;
      }
    }

    .profile-card__name{
      margin-bottom: 12px;
      font-style: italic;
      font-weight: 100;
    }

    ul.profile-card__details {
      margin: 0;
      padding: 0;
      letter-spacing: 0.5px;
      color: $gray-dark;
      font-size: 0.8em;

      li {
        display:block;
        margin-bottom: 2px;
      }
    }

    ul.profile-card__info__stats {
      display:table;
      table-layout: fixed;
      width:100%;

      padding:0;
      margin: 20px 0px 10px;

      li.profile-card__info__stat {
        display:table-cell;

        margin: 0;
        padding: 0;
        color: $gray-dark;

        span.stat__number {
          display:block;
          font-size: 1.5em;
          margin-bottom:3px;
        }

        span.stat__label {
          font-size: 0.7em;
        }
      }
    }
  }
}