@import "../../styles/colors";

$legend-width: 21em;
$table-classes: contributors-legend contributors-stats;

@each $class in $table-classes {
  .#{$class} {
    text-align: center;

    @for $i from 1 to 5 {
      &.#{$class}--#{$i}-fields {
        width: ($legend-width/4)*$i;
      }
    }
  }
}

.contributors-legend.contributors-legend--4-fields, .contributors-stats.contributors-stats--4-fields {
  @media screen and (max-width: 360px) {
    width: $legend-width - 1
  }
}

span.card__username {
  display: block;
}

.contributor-avatar {
  margin-right: 12px;

  @media screen and (max-width: 390px) {
    display: none;
  }
}